body{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 300 !important;
    color: #67757c !important;
    background-color:#ffffff!important;
}

.wrapper-padding{
padding: 1% 1% 1% 1% ;
}
.table-img{
	width:60px;
	height:auto;
}

.loading-icon{
	width:100px;
	height:auto;
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: none;
}

.count-card-text{
	font-size: 14px;
}
.count-card-title{
	font-size: 24px;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.imgPreview{
    border: none;
    width: 100%;
    object-fit: cover;
    height: 320px;
}

.imgOnRow{
    border: none !important;
    width: 100%;
    object-fit: cover;
    height: 200px;
}
.btn-light.dropdown-toggle {
  background-color: #ffffff!important;
}

Style for the main menu
li a:hover {
  background-color: #5a5a5a;
}

/* Style for the sub-menu */
li ul li a:hover {
  background-color: #5a5a5a;
}

.custom_nav_hover:hover{
  background-color: #5a5a5a;
}

td {
  max-width: 100px; /* set maximum width of cell */
  white-space: nowrap; /* prevent text from wrapping */
  overflow: hidden; /* hide overflow */
  text-overflow: ellipsis; /* add ellipsis to indicate truncated text */
  line-height: 1.2;
  height: 20px;
}

.image_prev{
  max-width: 14%;
  height: auto;
  margin: 0 auto;
  border: 6px solid #ddd;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(13 21 3);
  text-align: left;
}

.thumb_image{
  max-width: 14%;
  height: auto;
  margin: 0 auto;
  border: 6px solid #ddd;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(13 21 3);
  text-align: left;
}

.chart-card {
  height: 400px;
}


